body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }
  
  header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
  }
  
  main {
    background: coral;
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }
  
  nav {
	margin: 0 auto 2rem;
	max-width: 90vw;
}

.modern a {
	flex: 1 1 100%;
}



.navigation {
	list-style: none;
	display: flex;
	background-color: #333;
	align-items: center;
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
/* 	border: 1px dotted cyan; */
}
.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}
